@model IEnumerable<Task_28_7.Models.MemInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Member_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member_Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member_Img)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Member_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member_Age)
        </td>
        <td>
            <img src="@Url.Content($"~/Imgs/{item.Member_Img }")" width="80" height="75" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Member_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.Member_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Member_ID })
        </td>
    </tr>
}

</table>
